@font-face {
  font-family: 'Adren';
  src: url('/fonts/Adren-book-real.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-adren {
  font-family: 'Adren', "Charter", "Lora", serif !important;
}
