@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "fonts.css";
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-script: "Dancing Script", cursive;
  --font-serif: "Charter", "Lora", serif;
  --font-adren: "Adren", "Charter", "Lora", serif;

  --color-brand-cream: #F7F3EE;
  --color-brand-beige: #E9DEC9;
  --color-brand-sage: #A7B29A;
  --color-brand-olive: #7E8B74;
  --color-brand-taupe: #A99E8D;
  --color-brand-charcoal: #3D3D3D;
  --color-brand-white: #FFFFFF;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-charcoal);
  font-family: var(--font-sans);
}

.gold-gradient-text {
  color: var(--color-brand-olive);
  font-style: normal;
  display: inline-block;
  padding-bottom: 0.1em;
}

.soft-shadow {
  box-shadow: 0 10px 30px -10px rgba(61, 61, 61, 0.08); /* Charcoal with low opacity */
}

.bg-mesh {
  background-color: var(--color-brand-cream);
}